/* style for greet card form */ 
div.wp-greet-form {
                  font-size: 14px; 
                  font-family: Arial;
                  border: 0px solid;
                  padding: 10px;
                  text-align:center;
		  margin-left:auto;
		  margin-right:auto;
}

/* style for greet card warnings and errors */
div.wp-greet-error {
		 font-size: 14px; 
         font-family: Arial;
         border: 0px solid;
         padding: 10px;
		 color: #FF0000;
}

/* style for greet card form table */
table.wp-greet-form { 
                    font-size: 14px;
                    font-family: Arial;
                    font-weight: bolder;
                    font-variant: small-caps;
		    border-spacing:2px;
		    border-collapse:collapse;
		    border: 1px solid;
                    text-align:left;
                    margin-left:auto; 
                    margin-right:auto;
		    table-layout:fixed;
}

/* style for greet card form table-row */
tr.wp-greet-form { 
                    font-size: 14px;
                    font-family: Arial;
                    font-weight: bolder;
                    font-variant: small-caps;
		    border-spacing:2px;
		    border-collapse:collapse;
                    text-align:left;
                    margin-left:auto; 
                    margin-right:auto; 
}

/* style for greet card form table cell */
td.wp-greet-form { 
                    font-size: 14px;
                    font-family: Arial;
                    font-weight: bolder;
                    font-variant: small-caps;
		    border-spacing:2px;
		    border-collapse:collapse;
                    text-align:left;
                    margin-left:auto; 
                    margin-right:auto; 
		    width:66%;
}

/* style for greet card form table cell left side */
td.wp-greet-form-left { 
                    max-width: 25%;
		    font-size: 14px;
                    font-family: Arial;
                    font-weight: bolder;
                    font-variant: small-caps;
		    border-spacing:2px;
		    border-collapse:collapse;
                    text-align:left;
                    margin-left:auto; 
                    margin-right:auto; 
}
/* style for message textarea */
textarea.wp-greet-form {
                    width: 90%;
		    height:120px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

tr.tr-admin {
	vertical-align: top;
}

td.td-admin {
	text-align: center;
}
